*.pdf
*.dll
*.exe
*.h
*.npy
Bolethanhca2022/
CadenCV/
model_train/
pdf/
poppler-24.07.0/
staffs/
dataset/labels_as_arrays.npy
dataset/notes_labels_as_arrays.npy
dataset/notes_single_labels_as_arrays.npy
CNN_ONLY.keras
x_train_image.jpg
box.jpg
boxed.jpg
template/key_signatures
test_images/
staffs/
output.mid
desktop.ini
